body {
    margin: 0;
    background-image: url('images/pizza-maker.png');
    background-size: cover;
}

button {
    cursor: pointer;
}

.header {
    width: 100%;
    height: 50px;
    min-height: 8vh;
    margin-bottom: 25px;
    background-color: #222;
    display: flex;
    justify-content: center;
}

.footer {
    width: 100%;
    height: 50px;
    min-height: 8vh;
    margin-top: 50px;
    background-color: #222;
    display: flex;
    justify-content: space-around;
}

.footer p {
    align-self: center;
    max-height: 25px;
    margin: 0;
    font-size: 0.8em;
    color: white;
}

.footer a {
    text-decoration: none;
    color: white;
}

/* --------- */

.pizzas {
    display: flex;
    justify-content: space-around;
    min-height: 56vh;    
}

.pizzas h2 {
    text-align: center;
    margin: 0;
}
 
.order, .preparation {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.empty-bloc1, .empty-bloc2 {
    display: flex;
    position: relative;
    margin: 30px auto;
    width: 250px;
    height: 250px;
    border: 2px solid black;
    z-index: 0;
    background-image: url(images/wood.jpg);
    box-shadow: 5px 5px #4c3026;
/*    background-color: #9c9ca6; */
}

/* --------- */

.ingredients {
  /*  background-color: #9c9ca6; */
    background-image: url(images/metal-1.png);
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 15px 0;
    min-height: 16vh;
    border: 1px solid black;
    box-shadow: 5px 5px black;
}

.categories {
    align-self: center;
}

/* --------- */

.rules {
    display: block;
    background-image: url(images/metal-2.png);
    font-weight: 600;
    color: white;
    border: 1px solid black;
    box-shadow: 5px 5px black;
    padding: 10px;
    margin: 10px;
}

.new-game-btn {
    width: 50%;
    max-width: 100px;
    height: 40px;
    font-size: 1em;
    border: 2px solid #563226;
    box-shadow: 2px 2px #563226;
    border-radius: 5px;
    margin: 10px auto;
    background-color: #d1b57a;
}

.check {
    background-color: green !important;
}

.score {
    text-align: center;
    width: 50%;
    margin: 10px auto;
    border: 2px solid #563226;
    border-radius: 10px;
    padding: 5px;
    background-color: #d1b57a;
}

.lose-msg {
    text-align: center;
    width: 80%;
    margin: 5px auto;
    border: 2px solid red;
    border-radius: 15px;
    padding: 10px;
    background-color: indianred;    
}

/* =================== */

.empty-pizza {
    display: flex;
    width: 80%;
    height: 80%;
    margin: auto;
    border-radius: 50%;
    background: #ddcba7;
    border: 6px solid #d5bb81;
    z-index: 1;
}

.tomato {
    display: flex;
    width: 90%;
    height: 90%;
    margin: auto;
    border-radius: 50%;
    background: #7E080A /* #6D0A0B */;
    border: 5px solid #6D0A0B;
    z-index: 2;
}

.cremeFraiche {
    display: flex;
    width: 90%;
    height: 90%;
    margin: auto;
    border-radius: 50%;
    background: #fefee2 /* fbfbe5 */;
    border: 5px solid #fbfbe5;
    z-index: 2;
}

.cheese {
    display: flex;
    width: 90%;
    height: 90%;
    margin: auto;
    border-radius: 50%;
    background: #fbde5a /* #d8b641 */;
    border: 4px solid #d8b641;
    z-index: 3;
}

/* --------- */

[class*="element"] {
    position: absolute; 
    width: 10%;
    height: 10%;
    z-index: 4;
}

.element1-1 {
    top: 30%;
    left: 30%;
}

.element1-2 {
    top: 30%;
    right: 30%;
}

.element1-3 {
    top: 45%;
    left: 45%;
}

.element1-4 {
    bottom: 30%;
    left: 30%;
}

.element1-5 {
    bottom: 30%;
    right: 30%;
}

.element2-1 {
    top: 20%;
    left: 45%;
}

.element2-2 {
    right: 20%;
    top: 45%;
}

.element2-3 {
    bottom: 20%;
    right: 45%;
}

.element2-4 {
    left: 20%;
    bottom: 45%;
}

/* --------- */

.mushroom {
    background : url(images/mushroom.svg);
}

.spinach {
    background: url(images/spinach.svg);
}

.olive {
    background: url(images/olive.svg);
}

.oignon {
    background: url(images/onion.svg);
}

.shrimp {
    background: url(images/shrimp.svg);
}

.pepper {
    background: url(images/pepper.svg);
}

.bacon {
    background: url(images/bacon.svg);
}

.sausage {
    background: url(images/sausage.svg);
}

.mushroom, .spinach, .olive, .oignon, .shrimp, .pepper, .bacon, .sausage {
    background-size: contain;
    background-repeat: no-repeat;    
}

/* --------- */

[class*="element"] + .sausage {
    width: 20%;
}

[class*="element"] + .shrimp {
    width: 15%;
}

[class*="element"] + .bacon {
    width: 15%;
}

/* =========== */

[class^="box"] {
    width: 75px;
    height: 75px; 
    background-position: center;
    background-repeat: no-repeat;
    background-color: cadetblue;
    box-shadow: 5px 3px #74727d;
    margin-left: 5px;
    margin-bottom: 10px;
    border: 1px solid #74727d;
}

.boxtomato {
    background-image: url(images/boxtomato.svg);
    background-size: 80%;
}

.boxcremeFraiche {
    background-image: url(images/boxcreme.svg);
    background-size: 80%;
}

.boxcheese {
    margin-left: 40px;
    background-image: url(images/boxcheese.svg);
    background-size: 140%;
    background-position: left bottom;
    background-origin: content-box;
    padding-left: 10px;
}

.boxmushroom {
    margin-left: 40px;
    background-image: url(images/mushroom.svg);
}

.boxspinach {
    background-image: url(images/spinach.svg);
}

.boxolive {
    background-image: url(images/olive.svg);
    background-size: 50%;
}

.boxoignon {
    background-image: url(images/boxoignon.svg);
    background-size: 70%;
}

.boxshrimp {
    margin-left: 40px;
    background-image: url('images/boxshrimp.svg');
    background-size: 75%;
}

.boxpepper {
    background-image: url(images/boxpepper.svg);
    background-size: 110%;
}

.boxbacon {
    background-image: url(images/boxbacon.svg);
    background-size: 110%;
}

.boxsausage {
    background-image: url(images/sausage.svg);
    background-size: 110%;
}

/* =========== */

.timer {
    color: white;
    font-size: 1.2em;
}

.best-score {
    color: white;
    font-size: 1.2em; 
    margin-left: 30px;
}

/* =========== */

@media (max-width: 740px) {
    .empty-bloc1, .empty-bloc2 {
        width: 200px;
        height: 200px;
    }
    .rules {
        font-size: 0.9em;
    }
    [class^="box"] {
        width: 55px;
        height: 55px; 
    }
}

@media (max-width: 520px) {
    .empty-bloc1 {
        width: 125px;
        height: 125px;
    }
    .empty-bloc2 {
        width: 175px;
        height: 175px;
    }
    .rules-bloc {
        font-size: 0.9em;
        width: 55%;
    }
    .pizzas {
        flex-wrap: wrap;
    }
    .order {
        flex-direction: column-reverse;
    }
    .pizzas h2 {
        display: none;
    }
    .preparation {
        flex-direction: row-reverse;
        width: 90%;
        margin-bottom: 0;
    }
    .score {
        width: 100px;
        height: 20px;
        align-self: center;
    }
}